#content
  - widget_tag "Películas de #{@genre.name}" do
    - Movie.from_named_genre(@genre.name).each do |movie|
      .movie
        = image_tag movie.banner.url(:banner)
      .detail
        %b= link_to movie.title, movie
        %br
        %b Año:
        = movie.released_at.strftime("%Y")
        %br
        %b Calificación:
        = movie.final_score
      %br
      .clear

#sidebar
  - widget_tag "En cartelera" do
    .detail
    - Movie.on_theatres.from_named_genre(@genre.name).each do |movie|
      %b= link_to movie.name_with_year, movie
      .clear
  - widget_tag "Más visitadas" do
    .detail
      %p Place here

  - widget_tag "Más comentadas" do
    .detail
      %p Place here
  - widget_tag "Recomendadas" do
    .detail
      %p Place here

.clear

