%h1 Listing blogs
%table
  %tr
    %th Name
    %th Permalink
    %th Banner
    %th Category
    %th Active
    %th Posts counts
    %th Visits count
  - @blogs.each do |blog|
    %tr
      %td= h blog.name
      %td= h blog.permalink
      %td= image_tag blog.banner.url(:thumb)
      %td= h blog.category_name
      %td= h blog.active
      %td= h blog_posts_count blog
      %td= h blog_visits_count blog
      %td= link_to 'Show', [:member, blog]

