%h1 Listing theatres
%table
  %tr
    %th Name
    %th Address
  - @theatres.each do |theatre|
    %tr
      %td= h theatre.name
      %td= h theatre.address
      %td= link_to 'Show', theatre
      %td= link_to 'Edit', edit_theatre_path(theatre)
      %td= link_to 'Destroy', theatre, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New theatre', new_theatre_path
