<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>New theatre</h1>

<% semantic_form_for(@theatre) do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :movie_chain %>
    <%= f.input :name %>
    <%= f.input :address %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Create' %>
  <% end %>
<% end %>

<%= link_to 'Back', theatres_path %>

