<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>Listing movie_characters</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Actor</th>
    <th>Character name</th>
  </tr>

<% @movie_characters.each do |movie_character| %>
  <tr>
    <td><%=h movie_character.movie_id %></td>
    <td><%=h movie_character.person_id %></td>
    <td><%=h movie_character.character_name %></td>
    <td><%= link_to 'Show', movie_character %></td>
    <td><%= link_to 'Edit', edit_movie_character_path(movie_character) %></td>
    <td><%= link_to 'Destroy', movie_character, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New movie_character', new_movie_character_path %>

