<h1>New movie_character</h1>

<% form_for(@movie_character) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :movie_id %><br />
    <%= f.text_field :movie_id %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :character_name %><br />
    <%= f.text_field :character_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', movie_characters_path %>