<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>New movie_character</h1>

<% semantic_form_for(@movie_character) do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :movie %>
    <%= f.input :person, :label => 'Actor' %>
    <%= f.input :character_name %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Create' %>
  <% end %>
<% end %>

<%= link_to 'Back', movie_characters_path %>

