
%h1 Editing movie_character
- semantic_form_for(@movie_character) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :movie
    = f.input :person, :label => 'Actor'
    = f.input :character_name
  - f.buttons do
    = f.commit_button 'Update'
= link_to 'Show', @movie_character
|
\#{link_to 'Back', movie_characters_path}

