%head
  = formtastic_stylesheet_link_tag
%h1 Listing ads
%table
  %tr
    %th Name
    %th Campaign
    %th Content
    %th Started at
    %th Finished at
    %th Place
  - @ads.each do |ad|
    %tr
      %td= h ad.name
      %td= h ad.campaign
      %td= h ad.content
      %td= h ad.started_at
      %td= h ad.finished_at
      %td= h ad.place
      %td= link_to 'Show', ad
      %td= link_to 'Edit', edit_ad_path(ad)
      %td= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New ad', new_ad_path
