<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<p>
  <b>Name:</b>
  <%=h @ad.name %>
</p>

<p>
  <b>Campaign:</b>
  <%=h @ad.campaign %>
</p>

<p>
  <b>Content:</b>
  <%=h @ad.content %>
</p>

<p>
  <b>Started at:</b>
  <%=h @ad.started_at %>
</p>

<p>
  <b>Finished at:</b>
  <%=h @ad.finished_at %>
</p>

<p>
  <b>Place:</b>
  <%=h @ad.place %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>

