<h1>Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :current_location %><br />
    <%= f.text_field :current_location %>
  </p>
  <p>
    <%= f.label :favorite_movie_character %><br />
    <%= f.text_field :favorite_movie_character %>
  </p>
  <p>
    <%= f.label :favorite_movie_line %><br />
    <%= f.text_field :favorite_movie_line %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>