%h1 Editing profile
- semantic_form_for(@profile) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :current_location, :as => :country
    = f.input :favorite_genre
    = f.input :favorite_actor
    = f.input :favorite_director
    = f.input :favorite_writer
    = f.input :favorite_movie
    = f.input :favorite_movie_character
    = f.input :favorite_movie_line
  - f.buttons do
    = f.commit_button 'Update'
= link_to 'Show', @profile
|
\#{link_to 'Back', profiles_path}

