<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Current location</th>
    <th>Favorite movie character</th>
    <th>Favorite movie line</th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%=h profile.current_location %></td>
    <td><%=h profile.favorite_movie_character %></td>
    <td><%=h profile.favorite_movie_line %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New profile', new_profile_path %>