%h1 Listing profiles
%table
  %tr
    %th Current location
    %th Favorite movie character
    %th Favorite movie line
  - @profiles.each do |profile|
    %tr
      %td= h profile.current_location
      %td= h profile.favorite_movie_character
      %td= h profile.favorite_movie_line
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New profile', new_profile_path

