#content
  #movie.widget
    .top
    .middle
      .movie
        %p
          = image_tag @profile.user.avatar.url(:avatar)
      .detail
        - if your_own?
          %p
            = link_to 'editar', edit_user_path(@profile.user)
        %p
          %b Nombre:
          = h @profile.user.full_name
          - if @profile.user.full_name.blank? && your_own?
            No has ingresado tu nombre aún
            = link_to "¿Qué esperas?", edit_user_path(@profile.user)
        %p
          %b e-mail:
          = h @profile.user.email
      .clear
    .bottom
  #location.widget
    .top
    .middle
      %h3 Ubicación
      - if your_own?
        %p
          = link_to 'editar', edit_profile_path(@profile)
      %p
        %b Actualmente en:
        = h @profile.friendly_current_location
    .bottom
  #preferences.widget
    .top
    .middle
      %h3 Preferencias
      - if your_own?
        %p
          = link_to 'editar', edit_profile_path(@profile)
      %p
        %b Personaje de película favorito:
        = h @profile.friendly_favorite_movie_character
      %br
      %p
        %b Línea de película favorita:
        = h @profile.friendly_favorite_movie_line
      %br
      %p
        %b Actor favorito:
        = h @profile.favorite_actor_name
      %br
      %p
        %b Director favorito:
        = h @profile.favorite_director_name
      %br
      %p
        %b Guionista favorito:
        = h @profile.favorite_writer_name
      %br
      .clear
    .bottom
#sidebar
  -if @profile.user.expert? && @profile.user.has_published_posts?
    #posts.widget
      .top
      .middle
        %h3 Últimas opiniones
        - @profile.user.posts.last_published.each do |post|
          %p
            = 'En'
            = link_to post.blog.name, post.blog
            = ':'
            = link_to post.title, post
            = 'el'
            = post.published_at.strftime('%d-%b-%Y')
          %br
      .bottom
  - if @profile.user.has_comments?
    #comments.widget
      .top
      .middle
        %h3 Comentarios
        - @profile.user.comments.last_published.each do |comment|
          %p
            = 'En'
            = link_to comment.post.blog.name, comment.post.blog
            = 'sobre'
            = link_to comment.post.title, comment.post
            = summary_of(comment.content, 140)
            = link_to 'Ver más', comment.post
          %br
      .bottom
  - else
    - if your_own?
      #last_posts.widget
        .top
        .middle
          %h3 Comentarios
          %p
            Anímate a comentar, estas opiniones estan a la espera de tus comentarios:
          %br
          - Post.last_published(5).each do |post|
            %p
              = link_to post.title, post
              = 'en'
              = link_to post.blog.name, post.blog
            %br
        .bottom

.clear

