%p
  %b Nombre:
  = h @blog.name
%p
  %b Permalink:
  = h @blog.permalink
= image_tag @blog.banner.url(:medium)
%p
  %b Categoría:
  = h @blog.category_name
%p
  %b Activo:
  = h @blog.active
%p
  %b Entradas:
  = h @blog.posts_counts
%p
  %b Visitas:
  = h @blog.visits_count
%p
  Últimas entradas
%table
  %tr
    %th Fecha
    %th Película
    %th Título
    %th Calificación
  - @blog.posts.published.each do |post|
    %tr
      %td= post.published_at.strftime('%d-%b-%Y')
      %td= 'Pending'
      %td= link_to post.title, post
      %td= post.rating
|
\#{link_to 'Regresar', blogs_path}

