<p>
  <b>Name:</b>
  <%=h @blog.name %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @blog.permalink %>
</p>

<p>
  <b>Banner file name:</b>
  <%=h @blog.banner_file_name %>
</p>

<p>
  <b>Banner content type:</b>
  <%=h @blog.banner_content_type %>
</p>

<p>
  <b>Banner file size:</b>
  <%=h @blog.banner_file_size %>
</p>

<p>
  <b>Banner updated at:</b>
  <%=h @blog.banner_updated_at %>
</p>

<p>
  <b>Banner:</b>
  <%=h @blog.banner %>
</p>

<p>
  <b>Category:</b>
  <%=h @blog.category_id %>
</p>

<p>
  <b>Active:</b>
  <%=h @blog.active %>
</p>



<p>
  <b>Posts counts:</b>
  <%=h @blog.posts_counts %>
</p>

<p>
  <b>Visits count:</b>
  <%=h @blog.visits_count %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

