#content
  #movie.widget
    .top
    .middle
      .movie
        = image_tag @blog.banner.url(:thumbnail)
      .detail
        %h3= @blog.name
        %h4= @blog.user.full_name
        %p
          = simple_format @blog.description

        %p
          %b Categoría:
          = h @blog.category_name
        %p
          %b Opiniones:
          = h blog_posts_count @blog
        %p
          %b Visitas:
          = h blog_visits_count @blog

      .clear
    .bottom
  #reviews.widget
    .top
    .middle
      .detail
        %h3 Opiniones
        %table
          %tr
            %th Película
            %th Título
            %th Calificación
            %th Fecha
          - @blog.posts.published.each do |post|
            %tr
              %td= link_to post.movie_title, post.movie
              %td= link_to post.title, post
              %td= post.rating
              %td= post.published_at.strftime('%d-%b-%Y')
    .bottom
.clear

