%head
  = formtastic_stylesheet_link_tag
%h1 New comment for #{@comment.post.title}
%h2 From #{@comment.user.full_name}
- semantic_form_for(@comment) do |f|
  = render 'form', {:f => f, :commit_label => 'Create'}
= link_to 'Back', comments_path

