%head
  = formtastic_stylesheet_link_tag
%h1 Listing people
%table
  %tr
    %th Firt name
    %th Middle name
    %th Last name
    %th Born at
    %th Born in
    %th Procedence
    %th Bio
  - @people.each do |person|
    %tr
      %td= h person.first_name
      %td= h person.middle_name
      %td= h person.last_name
      %td= h person.born_at
      %td= h person.born_in
      %td= h person.bio
      %td= link_to 'Show', person
%br/

