#content
  #person.widget
    .top
    .middle
      %h3= "Perfil de #{@person.name}"
      .picture
        = image_tag @person.picture.url(:medium)
      .detail
        #personal_data
          %h4= "Primer nombre"
          %p
            = h @person.first_name
          %p
            %span Segundo nombre:
            = h @person.middle_name
          %p
            %span Apellidos:
            = h @person.last_name
          %p
            %span Fecha de nacimiento:
            = h @person.born_at.strftime("%d-%b-%Y")
          %p
            %span Lugar de nacimiento:
            = h @person.born_in
      .spec
      .clear
    .bottom
  #bio.widget
    .top
    .middle
      %h3= "Biografía"
      %p
        = h @person.bio
    .bottom
#sidebar
  #new.widget
    .top
    .middle
      %h3 Galerías
    .bottom

.clear

