#content
  #person.widget
    .top
    .middle
      %h3= "Perfil de #{@person.name}"
      .picture
        = image_tag @person.picture.url(:medium)
      .detail
        #personal_data
          %h4= "Primer nombre"
          %p
            = h @person.first_name
          %p
            %span Segundo nombre:
            = h @person.middle_name
          %p
            %span Apellidos:
            = h @person.last_name
          %p
            %span Fecha de nacimiento:
            = h @person.born_at.strftime("%d-%b-%Y")
          %p
            %span Lugar de nacimiento:
            = h @person.born_in
      .spec
      .clear
    .bottom
  #bio.widget
    .top
    .middle
      %h3= "Biografía"
      %p
        = h @person.bio
    .bottom
#sidebar
  #cast.widget
    .top
    .middle
      %h3 Actúa en
      %table
        %th Película
        %th Año
        %th Personaje
      - @person.movie_characters.each do |cast_member|
        %tr= link_to cast_member.movie.title, cast_member.movie
        %tr= cast_member.movie.released_at.strftime("%Y")
        %tr= cast_member.character_name
    .bottom
  #crew.widget
    .top
    .middle
      %h3 Colabora en
      %table
        %th Película
        %th Año
        %th Colaboración
      - @person.movie_directors.each do |crew_member|
        %tr= link_to crew_member.movie.title, crew_member.movie
        %tr= crew_member.movie.released_at.strftime("%Y")
        %tr= 'Director'
      - @person.movie_writers.each do |crew_member|
        %tr= link_to crew_member.movie.title, crew_member.movie
        %tr= crew_member.movie.released_at.strftime("%Y")
        %tr= 'Guionista'
    .bottom
  #awards.widget
    .top
    .middle
      %h3 Premios
      %table
        %th Institución
        %th Película
        %th Año
        %th Categoría
        %th Estado
      - @person.awards.each do |award|
        %tr= award.institution.name
        %tr= award.movie.title
        %tr= award.year_received
        %tr= award.category.name
        %tr= award.status

    .bottom


.clear

