%head
  = formtastic_stylesheet_link_tag
%h1 Editing post
- semantic_form_for(@post) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :title
    = f.input :content
    = f.input :user
    = f.input :permalink
    = f.input :blog
    = f.input :drafted_at
    = f.input :published_at
    = f.input :reviewed_at
    = f.input :cached_tag_list
    = f.input :comments_count
    = f.input :visits_count
    = f.input :rating
    = f.input :delta
    = f.input :status
  - f.buttons do
    = f.commit_button 'Update'
= link_to 'Show', @post
|
\#{link_to 'Back', posts_path}

