
%h1 New post
- semantic_form_for(@post) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :blog
    = f.input :title
    = f.input :content, :as => :text
    = f.input :user
    = f.input :movie
    = f.input :permalink
    = f.input :drafted_at, :as => :date
    = f.input :published_at, :as => :date
    = f.input :reviewed_at, :as => :date
    = f.input :cached_tag_list
    = f.input :comments_count, :as => :numeric
    = f.input :visits_count, :as => :numeric
    = f.input :rating, :as => :numeric
    = f.input :delta, :as => :radio
    = f.input :status, :as => :select, :collection => Post::STATUSES.values
  - f.buttons do
    = f.commit_button 'Create'
= link_to 'Back', posts_path

