%head
  = formtastic_stylesheet_link_tag
%h1 Listing post_categories
%table
  %tr
    %th Post
    %th Category
  - @post_categories.each do |post_category|
    %tr
      %td= h post_category.post_id
      %td= h post_category.category_id
      %td= link_to 'Show', post_category
      %td= link_to 'Edit', edit_post_category_path(post_category)
      %td= link_to 'Destroy', post_category, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New post_category', new_post_category_path
