%h1 Últimas películas
%table
  %tr
    %th Poster
    %th Título
    %th Resumen
    %th Sinopsis
    %th Estrenada
    %th Duración (Minutos)
  - @movies.each do |movie|
    %tr
      %td= image_tag movie.banner.url(:thumb)
      %td= h link_to movie.title, movie
      %td= h simple_format truncate(movie.summary,  :lenght => 50)
      %td= h simple_format truncate(movie.synopsis, :lenght => 50)
      %td= h movie.released_at.nil? ? '' : movie.released_at.strftime('%d-%b-%Y')
      %td= h movie.lenght


%br/

