
<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Synopsis</th>
    <th>Released at</th>
    <th>Lenght</th>
    <th>Website</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%=h movie.title %></td>
    <td><%=h movie.summary %></td>
    <td><%=h movie.synopsis %></td>
    <td><%=h movie.released_at %></td>
    <td><%=h movie.lenght %></td>
    <td><%=h movie.website %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New movie', new_movie_path %>

