<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>New movie</h1>

<% semantic_form_for(@movie) do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :title %>
    <%= f.input :summary, :as => :text %>
    <%= f.input :synopsis, :as => :text %>
    <%= f.input :released_at, :as => :date %>
    <%= f.input :lenght, :as => :numeric %>
    <%= f.input :website %>
    <%= f.input :country, :as => :country %>
    <%= f.input :language,  :as => :select, :collection => Movie::LANGUAGES.values %>
    <%= f.input :mpaa_rate, :as => :select, :collection => Movie::MPAA_RATES.values %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Create' %>
  <% end %>
<% end %>

<%= link_to 'Back', movies_path %>

