#content
  #movie.widget
    .top
    .middle
      .movie
        =image_tag @movie.banner.url(:banner), :size => "150x222", :title => @movie.title, :alt => @movie.title, :class => "poster"
        %a.saw{:href => "#"}la he visto
        %a.comment{:href => "#"}comenta
      .detail
        %h3= @movie.name_with_year
        #tags= render_genres_links
        #rating
          %h4 Puntaje General
          .rating= @movie.final_score
          .camote 121
          .rotten 41
          .clear
        .spec
          %p
            %span Reparto:
          #tags= render_cast_links
          %p.short
            %span Dirección:
          #tags= render_directors_links
          %p.short
            %span Guión:
          #tags= render_writers_links
          %p.short
            %span Acerca de:
            = simple_format @movie.summary
      .clear
    .bottom
  #synopsis.widget
    .top
    .middle
      .detail
        %h3 Sinopsis
      .spec
        %p
          = simple_format @movie.synopsis
      .clear
    .bottom
  #reviews.widget.talking
    .top
    .middle
      %h3 comentarios y valoraciones
      %ul
        %li.camote
          .avatar
            %a{:href=>"#"}
              %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
          .talk
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit
          %p.posted
            Respuesta a Lorem en Lorem
          .clear
        %li.rotten
          .avatar
            %a{:href=>"#"}
              %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
          .talk
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit
          %p.posted
            Respuesta a Lorem en Lorem
          .clear

    .bottom
    .pager
      %ul
        %li.first.hide
          %a{:href=>"#"}
            %span |<
        %li.prev.hide
          %a{:href=>"#"}
            %span <<
        %li.current
          %span 1
        %li
          %a{:href=>"#"} 2
        %li
          %a{:href=>"#"} 3
        %li
          %a{:href=>"#"} 4
        %li.next
          %a{:href=>"#"}
            %span >>
        %li.last
          %a{:href=>"#"}
            %span >|
      .clear
  #reply.widget
    .top
    .middle
      %h3 Deja Tu comentario y valoración para
      %h4= @movie.title
      %form
        %ul
          %li.rating                  
            %p Valoracion
            %label.camote{:for=>"camote"}
              %span
            %input.hide{:id=>"camote", :name=>"rating", :type=>"radio", :value=>"camote"}
            %label.rotten{:for=>"rotten"}
              %span
            %input.hide{:id=>"rotten", :name=>"rating", :type=>"radio", :value=>"rotten"}
          %li.comment                           
            %label{:for=>"comment"} Comentario
            %textarea{:id=>"comment", :name=>"comment"}
          %li
            %label{:for=>"name"} Nombre
            %input{:id=>"name", :name=>"name", :type=>"text"}
          %li
            %label{:for=>"email"} Email
            %input{:id=>"email", :name=>"email", :type=>"text"}
          %li
            %label{:for=>"cine"} La vi en
            %select{:id =>"cine", :name=>"cine"}
              %option{:value=>1} Cineplanet Alcazar
          %li
            %input{:type=>"submit", :value=>"Comentar"}
    .bottom
#sidebar

  #share.widget
    .top
    .middle
      %h3 Comparte esta pagina
      .links
        %a.facebook{:href=>"#"}
        %a.twitter{:href=>"#"}
        %a.email{:href=>"#"}
      %p.share
    .bottom
  #watch.widget
    .top
    .middle
      %h3 ¿Donde verla?
      %ul
        - @scheduled_movie_chains_for_movie.each do |movie_chain|
          %li
            .alcazar.logo-cine 85%
            %h4
              = link_to image_tag(movie_chain.logo.url(:thumb)), movie_chain
            %table
              - Schedule.active.from_movie_chain(movie_chain.id).from_movie(@movie.id).each do |schedule|
                %tr
                  %td= link_to schedule.theatre.name, schedule.theatre
                  %td.lang= schedule.description
                  %td= schedule.current_showtimes                  
    .bottom
  #related.widget
    .top
    .middle
      %h3 Opiniones Relacionadas
      %ul
        %li
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            %a{:href=>"#"}Mas
            %br
            %a{:href=>"#"}Iron Man 2 (2010)
          .rating
            100%
          .avatar
            %a{:href=>"#"}
              %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
          .clear
    .bottom
.clear

