%h1 Editing post_category
- semantic_form_for(@post_category) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :post
    = f.input :category
  - f.buttons do
    = f.submit 'Update'
= link_to 'Show', @post_category
|
\#{link_to 'Back', post_categories_path}

