
%h1 New profile
- semantic_form_for([:admin, @profile]) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :user
    = f.input :current_location, :as => :country
    = f.input :favorite_genre
    = f.input :favorite_actor
    = f.input :favorite_director
    = f.input :favorite_writer
    = f.input :favorite_movie
    = f.input :favorite_movie_character
    = f.input :favorite_movie_line
  - f.buttons do
    = f.commit_button 'Create'
= link_to 'Back', admin_profiles_path

