<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>Editing score</h1>

<% semantic_form_for(@score) do |f| %>
  <%= f.error_messages %>

  <% f.inputs do %>
    <%= f.input :movie %>
    <%= f.input :user %>
    <%= f.input :scored_at, :as => :date %>
    <%= f.input :source, :as => :select, :collection => Score::SOURCES.values %>
    <%= f.input :value, :as => :numeric %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Update' %>
  <% end %>
<% end %>

<%= link_to 'Show', @score %> |
<%= link_to 'Back', scores_path %>

