<p>
  <b>Movie:</b>
  <%=h @score.movie_id %>
</p>

<p>
  <b>User:</b>
  <%=h @score.user_id %>
</p>

<p>
  <b>Scored at:</b>
  <%=h @score.scored_at %>
</p>

<p>
  <b>Source:</b>
  <%=h @score.source %>
</p>

<p>
  <b>Value:</b>
  <%=h @score.value %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>