
%h1 New photo
- semantic_form_for(@photo) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :title
    = f.input :description
    = f.input :photo, :as => :file
  - f.buttons do
    = f.commit_button 'Create'
    - end >
    - <% end
    = link_to 'Back', photos_path

