
%p
  %b Title:
  = h @photo.title
%p
  %b Description:
  = h @photo.description
%p
  %b Photo type:
  = h @photo.photo_type
%p
  %b Photo file name:
  = h @photo.photo_file_name
%p
  %b Photo content type:
  = h @photo.photo_content_type
%p
  %b Photo file size:
  = h @photo.photo_file_size
%p
  %b Photo updated at:
  = h @photo.photo_updated_at
= link_to 'Edit', edit_photo_path(@photo)
|
\#{link_to 'Back', photos_path}

