= f.error_messages
- f.inputs do
  = f.input :schedule_id, :as => :hidden, :value => @showtime.schedule.id
  = f.input :shown_at, :as => :time, :label => 'Hora'
  = f.input :description, :label => 'Descripción'
  = f.input :status, :as => :select, :collection => Showtime::STATUSES.values, :label => 'Estado'
- f.buttons do
  = f.commit_button commit_label

