<head>
  <%= formtastic_stylesheet_link_tag %>
</head>
<h1>Editing schedule</h1>

<% semantic_form_for(@schedule) do |f| %>
  <% f.inputs do %>
  <%= f.error_messages %>
    <%= f.input :theatre %>
    <%= f.input :movie %>
    <%= f.input :in_theatre_from, :as => :date %>
    <%= f.input :in_theatre_to,   :as => :date %>
    <%= f.input :description %>
    <%= f.input :status,          :as => :select, :collection => Schedule::STATUSES %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Update' %>
  <% end %>
<% end %>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>

