%h1 Cartelera
- @scheduled_movies.each do |scheduled_movie|
  = image_tag scheduled_movie.banner.url(:thumb)
  = h scheduled_movie.title
  %table
    %tr
      %th
      %th
      %th
      %th
    - scheduled_movie.schedules.each do |schedule|
      %tr
        %td= image_tag schedule.theatre.movie_chain.logo.url(:thumb)
        %td= h schedule.theatre.name
        %td= h schedule.description
        %td= h schedule.current_showtimes
%br/

