<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Theatre</th>
    <th>Movie</th>
    <th>In theatre from</th>
    <th>In theatre to</th>
    <th>Description</th>
    <th>Status</th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%=h schedule.theatre_id %></td>
    <td><%=h schedule.movie_id %></td>
    <td><%=h schedule.in_theatre_from %></td>
    <td><%=h schedule.in_theatre_to %></td>
    <td><%=h schedule.description %></td>
    <td><%=h schedule.status %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New schedule', new_schedule_path %>