<p>
  <b>Theatre:</b>
  <%=h @schedule.theatre_id %>
</p>

<p>
  <b>Movie:</b>
  <%=h @schedule.movie_id %>
</p>

<p>
  <b>In theatre from:</b>
  <%=h @schedule.in_theatre_from %>
</p>

<p>
  <b>In theatre to:</b>
  <%=h @schedule.in_theatre_to %>
</p>

<p>
  <b>Description:</b>
  <%=h @schedule.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @schedule.status %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>