%h1 Editing external_link
- form_for(@external_link) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :description
    %br/
    = f.text_field :description
  %p
    = f.label :url
    %br/
    = f.text_field :url
  %p
    = f.submit 'Update'
= link_to 'Show', @external_link
|
\#{link_to 'Back', external_links_path}
