%h1 Listing external_links
%table
  %tr
    %th Title
    %th Description
    %th Url
  - @external_links.each do |external_link|
    %tr
      %td= h external_link.title
      %td= h external_link.description
      %td= h external_link.url
      %td= link_to 'Show', external_link
      %td= link_to 'Edit', edit_external_link_path(external_link)
      %td= link_to 'Destroy', external_link, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New external_link', new_external_link_path
