<p>
  <b>Title:</b>
  <%=h @external_link.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @external_link.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @external_link.url %>
</p>


<%= link_to 'Edit', edit_external_link_path(@external_link) %> |
<%= link_to 'Back', external_links_path %>