.comment{:class => (post_counter == last ? "last" : "")}
  %p
    = summary_of(post.content,150)
    = link_to('Más', post)
    %br
    = link_to post.title, post
  .rating
    = number_to_percentage rand(100), :precision => 0
  .avatar
    - link_to post.user.profile do
      = image_tag post.user.avatar.url(:avatar), :title => post.user.full_name, :size => "64x64", :class => "avatar"
  .clear
