.schedule
  .schedule_movie
    = link_to(image_tag(schedule.banner.url(:thumb)), schedule)
    = "#{schedule.title}(#{schedule.released_at.year})" if schedule.released_at
    = schedule.genres_names
  .movie_score
    = number_to_percentage(schedule.final_score, :precision => 0)

