- content_for :banner do
  #banner-cont.wrapper{:role => "banner"}
    .banner
      = render :partial => "banner"

    .nav
      %ul
        %li{:class=>[active_if_now," now"].join}
          = link_to_remote "Ahora mismo", :url => {:action => "index", :filter => "ahora"}, :complete => "updateNav(this)"
        %li{:class=>[active_if_showtime," showtime"]}
          = link_to_remote "Estrenos", :url => {:action => "index", :filter => "estrenos"}, :complete =>"updateNav(this)"
        %li{:class=>[active_if_recommended," recommended"]}
          = link_to_remote "Recomendadas", :url => {:action => "index", :filter => "recomendadas"}, :complete => "updateNav(this)"
      .loader
        = image_tag "ajax_loader.gif"
      .arrows
        .prev
        .next

#content
  #opiniones
    - widget_tag "Opiniones Camoteras" do
      %form
        %label{:for => "temas"} Leer de
        %select{:id => "temas"}
          %option{:value=>1} Todos los temas
        %label{:for => "order"} Ordenar por
        %select{:id => "order"}
          %option{:value=>1} Todos los temas
      = render :partial => "post", :collection => @posts, :locals => {:last => @posts.size - 1 }
    


#sidebar
  .widget
    .top
    .middle
      %h3 Cartelera en Lima
      %ul.cartelera
        = render :partial => "scheduled_movie", :collection => @schedules, :locals => { :last => @schedules.size - 1}
    .bottom
.clear


.talking
  .top
  .middle
    %h3 Conversando
    %ul
      = render :partial => "comment", :collection => @comments
      .clear
  .bottom

