<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>Editing movie_chain</h1>

<% semantic_form_for(@movie_chain) do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :bio, :as => :text %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Update' %>
  <% end %>
<% end %>

<%= link_to 'Show', @movie_chain %> |
<%= link_to 'Back', movie_chains_path %>

