%p
  =image_tag @movie_chain.logo.url(:medium)
%p
  %b Nombre:
  = h @movie_chain.name
%p
  %b Dirección:
  = h @movie_chain.address
%p
  %b Acerca de:
  = h @movie_chain.bio
%p
  %b Cines:
  %table
    %tr
      %th Nombre
      %th Cartelera
    - @movie_chain.theatres.each do |theatre|
      %tr
        %td= h link_to theatre.name, theatre
        %td
          %table
            %tr
              %th Película
              %th Descripción
              %th Horarios
            - theatre.schedules.active.each do |schedule|
              %tr
                %td= h link_to schedule.movie.title, schedule.movie
                %td= h schedule.description
                %td= h schedule.current_showtimes

