<p>
  <b>Name:</b>
  <%=h @movie_chain.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @movie_chain.address %>
</p>

<p>
  <b>Bio:</b>
  <%=h @movie_chain.bio %>
</p>


<%= link_to 'Edit', edit_movie_chain_path(@movie_chain) %> |
<%= link_to 'Back', movie_chains_path %>