%head
  = formtastic_stylesheet_link_tag
%p
  %b Name:
  = h @movie_chain.name
%p
  %b Address:
  = h @movie_chain.address
%p
  %b Bio:
  = h @movie_chain.bio
= link_to 'Edit', edit_movie_chain_path(@movie_chain)
|
\#{link_to 'Back', movie_chains_path}
