%head
  = formtastic_stylesheet_link_tag
%h1 Listing award_categories
%table
  %tr
    %th Name
  - @award_categories.each do |award_category|
    %tr
      %td= h award_category.name
      %td= link_to 'Show', award_category
      %td= link_to 'Edit', edit_award_category_path(award_category)
      %td= link_to 'Destroy', award_category, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New award_category', new_award_category_path
