<h1>Listing awards</h1>

<table>
  <tr>
    <th>Institution</th>
    <th>Category</th>
    <th>Year received</th>
    <th>Status</th>
    <th>Person</th>
    <th>Movie</th>
  </tr>

<% @awards.each do |award| %>
  <tr>
    <td><%=h award.institution_id %></td>
    <td><%=h award.category_id %></td>
    <td><%=h award.year_received %></td>
    <td><%=h award.status %></td>
    <td><%=h award.person_id %></td>
    <td><%=h award.movie_id %></td>
    <td><%= link_to 'Show', award %></td>
    <td><%= link_to 'Edit', edit_award_path(award) %></td>
    <td><%= link_to 'Destroy', award, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New award', new_award_path %>