%h1 Listing posts
%table
  %tr
    %th Blog
    %th Title
    %th Content
    %th User
    %th Movie
    %th Permalink
    %th Drafted at
    %th Published at
    %th Reviewed at
    %th Cached tag list
    %th Comments count
    %th Visits count
    %th Rating
    %th Delta
    %th Status
  - @posts.each do |post|
    %tr
      %td= h post.blog_id
      %td= h post.title
      %td= h post.content
      %td= h post.user_id
      %td= h post.movie_id
      %td= h post.permalink
      %td= h post.drafted_at
      %td= h post.published_at
      %td= h post.reviewed_at
      %td= h post.cached_tag_list
      %td= h post.comments_count
      %td= h post.visits_count
      %td= h post.rating
      %td= h post.delta
      %td= h post.status
      %td= link_to 'Ver', [:admin, post]
      %td= link_to 'Editar', edit_admin_post_path(post)
      %td= link_to 'Eliminar', [:admin, post], :confirm => '¿Estás seguro?', :method => :delete
%br/
= link_to 'Nuevo post', new_admin_post_path

