%p
  %b Blog:
  = h @post.blog.name

  %b Title:
  = h @post.title
%p
  %b Content:
  = h @post.content
%p
  %b Author:
  = h @post.user.full_name
%p
  %b Drafted at:
  = h @post.drafted_at
%p
  %b Published at:
  = h @post.published_at
%p
  %b Reviewed at:
  = h @post.reviewed_at
%p
  %b Cached tag list:
  = h @post.cached_tag_list
%p
  %b Comments count:
  = h @post.comments_count
%p
  %b Visits count:
  = h @post.visits_count
%p
  %b Rating:
  = h @post.rating
%p
  %b Status:
  = h @post.status
%p
  %b Comments:
  - @post.comments.each do |comment|
    = h comment.user.name
    = h comment.content
%p
  = link_to 'Add Comment', new_admin_comment_path(:post_id => @post.id)

= link_to 'Edit', edit_admin_post_path(@post)
|
\#{link_to 'Back', admin_posts_path}

