
%h1 Listando categorías de premio
%table
  %tr
    %th Nombre
  - @award_categories.each do |award_category|
    %tr
      %td= h award_category.name
      %td= link_to 'Ver', [:admin, award_category]
      %td= link_to 'Editar', edit_admin_award_category_path(award_category)
      %td= link_to 'Eliminar', [:admin, award_category], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'Nueva categoría de premio', new_admin_award_category_path

