%head
  = formtastic_stylesheet_link_tag
%h1 New award category
- semantic_form_for(@award_category) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name
  - f.buttons do
    = f.commit_button 'Create'
= link_to 'Back', award_categories_path
