<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<h1>Editing award_institution</h1>

<% semantic_form_for @award_institution, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :bio,   :as => :text %>
    <%= f.input :url %>
    <%= f.input :logo,  :as => :file %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Update' %>
  <% end %>
<% end %>

<%= link_to 'Show', @award_institution %> |
<%= link_to 'Back', award_institutions_path %>

