<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<p>
  <b>Name:</b>
  <%=h @award_institution.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @award_institution.description %>
</p>

<p>
  <b>Bio:</b>
  <%=h @award_institution.bio %>
</p>

<p>
  <b>Url:</b>
  <%=h @award_institution.url %>
</p>

<p>
  <b>Logo file name:</b>
  <%= image_tag @award_institution.logo.url %>
</p>

<p>
  <b>Logo content:</b>
  <%= image_tag @award_institution.logo.url(:medium) %>
</p>

<p>
  <b>Logo thumb:</b>
  <%= image_tag @award_institution.logo.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_award_institution_path(@award_institution) %> |
<%= link_to 'Back', award_institutions_path %>

