%head
  = formtastic_stylesheet_link_tag
%h1 Listing categories
%table
  %tr
    %th Name
    %th Category type
  - @categories.each do |category|
    %tr
      %td= h category.name
      %td= h category.category_type
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New category', new_category_path
