
%h1 New category
- semantic_form_for(@category) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name
    = f.input :category_type
  - f.buttons do
    = f.commit_button 'Create'
= link_to 'Back', categories_path

