
%p
  %b Name:
  = h @ad.name
%p
  %b Campaign:
  = h @ad.campaign
%p
  %b Content:
  = h @ad.content
%p
  %b Started at:
  = h @ad.started_at
%p
  %b Finished at:
  = h @ad.finished_at
%p
  %b Place:
  = h @ad.place
= link_to 'Edit', edit_ad_path(@ad)
|
\#{link_to 'Back', ads_path}

