<h1>Editing photo</h1>

<% form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :photo_type %><br />
    <%= f.text_field :photo_type %>
  </p>
  <p>
    <%= f.label :photo_file_name %><br />
    <%= f.text_field :photo_file_name %>
  </p>
  <p>
    <%= f.label :photo_content_type %><br />
    <%= f.text_field :photo_content_type %>
  </p>
  <p>
    <%= f.label :photo_file_size %><br />
    <%= f.text_field :photo_file_size %>
  </p>
  <p>
    <%= f.label :photo_updated_at %><br />
    <%= f.datetime_select :photo_updated_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>