<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Photo type:</b>
  <%=h @photo.photo_type %>
</p>

<p>
  <b>Photo file name:</b>
  <%=h @photo.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%=h @photo.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%=h @photo.photo_file_size %>
</p>

<p>
  <b>Photo updated at:</b>
  <%=h @photo.photo_updated_at %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

