%p
  = image_tag @schedule.theatre.movie_chain.logo.url(:thumb)
%p
  %b Cine:
  = h @schedule.theatre.name
%p
  %b Película:
  = image_tag @schedule.movie.banner.url(:thumb)
%p
  %b En exhibición desde:
  = h @schedule.in_theatre_from.to_date.to_formatted_s(:short)
%p
  %b En exhibición hasta:
  = h @schedule.in_theatre_to.to_date.to_formatted_s(:short)
%p
  %b Descripción:
  = h @schedule.description
%p
  %b Estado:
  = h @schedule.status
%p
  %b Horarios:
  %table
    %tr
      %th Horario
      %th Descripción
      %th Estado
    - @schedule.showtimes.each do |showtime|
      %tr
        %td= h showtime.shown_at.to_time.to_formatted_s(:time)
        %td= h showtime.description
        %td= h showtime.status
        %td= link_to 'Editar', edit_admin_showtime_path(showtime)
        %td= link_to 'Eliminar', [:admin, showtime], :confirm => '¿Estás seguro?', :method => :delete

%p
  = link_to 'Agregar Horario', new_admin_showtime_path(:schedule_id => @schedule.id)

= link_to 'Editar', edit_admin_schedule_path(@schedule)
|
\#{link_to 'Regresar', admin_schedules_path}

