%h1 Opiniones
%table
  %tr
    %th Blog
    %th Título
    %th Contenido
    %th Autor
    %th Publicado
  - @posts.each do |post|
    %tr
      %td= link_to post.blog.name, post.blog
      %td= link_to post.title, post
      %td= h summary_of(post.content, 30)
      %td= h post.user.full_name
      %td= h post.published_at.to_date

