#content
  #post.widget
  .top
  .middle
    %h3 Últimas publicaciones
    .detail
      - @posts.last_published.each do |post|
        %p
          = link_to post.blog.name, post.blog
        %p
          = link_to post.title, post
        %p
          = h summary_of(post.content, 140)
          = link_to 'Ver más', post
        %p
          = h post.user.full_name
        %p
          = h post.published_at.to_date
      .clear
    .bottom
#sidebar
  .top
  .middle
    %h3 Los más leídos
  .bottom
.clear

