#content
  %h3 Últimas publicaciones
  - @posts.last_published.each do |post|
    #post.widget
      .top
      .middle
        %h3= link_to post.title, post
        .detail
          %p
            = "En "
            = link_to post.blog.name, post.blog
          %p
            = h "Por "
            = link_to(post.user.full_name, post.user.profile)
          %p
            = h "Publicado el #{post.published_at.to_date.strftime('%d-%b-%Y')}"
          %p
            = h summary_of(post.content, 140)
            = link_to 'Ver más', post
        .clear
    .bottom
#sidebar
  #most_read.widget
    .top
    .middle
      %h3 Los Top
      .detail
      - Blog.most_visited(5).each do |blog|
        %p
          = image_tag blog.user.avatar.url(:avatar)
          = link_to blog.user.full_name, blog.user.profile
      .clear
    .bottom
  #most_visited.widget
    .top
    .middle
      %h3 Opiniones más visitadas
      .detail
      - Post.most_visited(5).each do |post|
        %p
          = link_to post.title, post
      .clear
    .bottom
  #most_commented.widget
    .top
    .middle
      %h3 Opiniones más comentadas
      .detail
      - Post.most_commented(5).each do |post|
        %p
          = link_to post.title, post
      .clear
    .bottom
.clear

