%h1 Listing posts
%table
  %tr
    %th Blog
    %th Title
    %th Content
    %th Author
    %th Published at
  - @posts.each do |post|
    %tr
      %td= h post.blog.name
      %td= h post.title
      %td= h summary_of(post.content, 30)
      %td= h post.user.full_name
      %td= h post.published_at.to_date
      %td= link_to 'Show', post

