#content
  #blog.widget
    .top
    .middle
      %p
        = image_tag @post.blog.banner.url(:medium)
    .bottom
  #post.widget
    .top
    .middle
      %h3= h @post.title
      - if allowed_to_act_on @post
        = link_to "Editar",edit_member_post_path(@post)
      %p
        %b Película:
        = h @post.movie_title
      %p
        %b Rating:
        = h @post.rating
      %p
        %b Publicado el:
        = h @post.published_at.strftime('%d-%b-%Y') if @post.published?
      %p
        = h @post.content
      .clear
    .bottom
  - if @post.comments.count > 0
    #comments.widget.talking
      .top
      .middle
        %h3
          = post_comments_count @post
        %ul
        - @post.comments.each do |comment|
          - if not comment.content.nil?
            %li.camote
              .avatar
                - if comment.user
                  = image_tag comment.user.avatar.url(:avatar)
                %p= h comment.name
              .talk
                %p= h comment.content
              .clear
        .clear
      .bottom
  #reply.widget
    .top
    .middle
      %h3 Deja Tu comentario
      - semantic_form_for @comment do |f|
        = f.error_messages
        - f.inputs do
          = f.input :content, :as => :text, :label => "Comentario", :wrapper_html => {:class=> "comment"}
          - unless current_user
            = f.input :name, :label => "Nombre"
            = f.input :email
          - else
            = f.input :name, :as => :hidden, :value => current_user.full_name
            = f.input :email, :as => :hidden, :value => current_user.email
          
          = f.input :post_id, :as => :hidden, :value => @post.id
        - f.buttons do
          = f.commit_button "Comentar"
    .bottom    
  .clear

#sidebar
  #movie.widget
    .top
    .middle
      .movie
        = image_tag @post.user.avatar.url(:thumb)
        .clear
      .detail
        .spec
          %p.short
            = link_to h(@post.blog.name), @post.blog
          %p.short
            = 'Por '
            = link_to h(@post.user.full_name), @post.user.profile
          %p.short
            = summary_of h @post.blog.description
      .clear
    .bottom
  #share.widget
    .top
    .middle
      %h3 Compartir
    .bottom
  #reference.widget
    .top
    .middle
      %h3 Referencia
      %h4 Etiquetas
      %p
        = h @post.cached_tag_list
      %h4 Categorías
      - @post.post_categories.each do |post_category|
        %p
          = link_to post_category.category.name, post_category.category

    .bottom
  .clear
.clear
\#{link_to 'Regresar', posts_path}

