%p
  = image_tag @post.blog.banner.url(:medium)
  = h @post.blog.name
%p
  %b Autor:
  = h @post.user.full_name

%p
  %b Título:
  = h @post.title
%p
  %b Publicado:
  = h @post.published_at.strftime('%d-%b-%Y')
%p
  %b Contenido:
  = h @post.content
%p
  %b Etiquetas:
  = h @post.cached_tag_list
%p
  %b Número de comentarios:
  = h @post.comments_count
%p
  %b Número de Visitas:
  = h post_friendly_visits_count @post
%p
  %b Rating:
  = h @post.rating
%p
  %b Comentarios:
  - @post.comments.each do |comment|
    %p
      = h "#{comment.user.full_name} dice:"
    %p
      = h comment.content

%p
  = link_to 'Agregar comentario', new_comment_path(:post_id => @post.id)

\#{link_to 'Regresar', posts_path}

