%h1 Listing studios
%table
  %tr
    %th Name
    %th Address
    %th Bio
  - @studios.each do |studio|
    %tr
      %td= h studio.name
      %td= h studio.address
      %td= h studio.bio
      %td= link_to 'Show', studio
      %td= link_to 'Edit', edit_studio_path(studio)
      %td= link_to 'Destroy', studio, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New studio', new_studio_path
