
%h1 New studio
- semantic_form_for(@studio) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name
    = f.input :address
    = f.input :bio, :as => :text
  - f.buttons do
    = f.commit_button 'Create'
= link_to 'Back', studios_path

