
%h1 Editing person
- semantic_form_for(@person) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :born_at, :as => :date
    = f.input :born_in, :as => :country, :label => 'Nationality'
    = f.input :bio      :as => :text
  - f.buttons do
    = f.commit_button 'Update'
= link_to 'Show', @person
|
\#{link_to 'Back', people_path}

