
%h1 Listando personas
%table
  %tr
    %th Primer nombre
    %th Segundo nombre
    %th Apellidos
    %th Fecha de nacimiento
    %th Lugar de nacimiento
    %th Procedencia
    %th Bio
  - @people.each do |person|
    %tr
      %td= h person.first_name
      %td= h person.middle_name
      %td= h person.last_name
      %td= h person.born_at
      %td= h person.born_in
      %td= h person.bio
      %td= link_to 'Ver', [:admin, person]
      %td= link_to 'Editar', edit_admin_person_path(person)
      %td= link_to 'Eliminar', [:admin, person], :confirm => '¿Estás seguro?', :method => :delete
%br/
= link_to 'Nueva persona', new_admin_person_path

