<head>
  <%= formtastic_stylesheet_link_tag %>
</head>

<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Category type:</b>
  <%=h @category.category_type %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

