
%h1 Listando instituciones que otorgan premios
%table
  %tr
    %th Nombre
    %th Descripción
    %th Bio
    %th Url
    %th Logo
  - @award_institutions.each do |award_institution|
    %tr
      %td= h award_institution.name
      %td= h award_institution.description
      %td= h award_institution.bio
      %td= h award_institution.url
      %td= image_tag award_institution.logo.url(:thumb)
      %td= link_to 'Ver', [:admin, award_institution]
      %td= link_to 'Editar', edit_admin_award_institution_path(award_institution)
      %td= link_to 'Eliminar', [:admin, award_institution], :confirm => '¿Estás seguro?', :method => :delete
%br/
= link_to 'Nueva institución', new_admin_award_institution_path

