%p
  = image_tag @award_institution.logo.url(:medium)
%p
  %b Nombre:
  = h @award_institution.name
%p
  %b Descripción:
  = h @award_institution.description
%p
  %b Bio:
  = h @award_institution.bio
%p
  %b Url:
  = h @award_institution.url
= link_to 'Edit', edit_admin_award_institution_path(@award_institution)
|
\#{link_to 'Back', admin_award_institutions_path}

