%head
  = formtastic_stylesheet_link_tag
%p
  %b Name:
  = h @award_institution.name
%p
  %b Description:
  = h @award_institution.description
%p
  %b Bio:
  = h @award_institution.bio
%p
  %b Url:
  = h @award_institution.url
%p
  %b Logo file name:
  = image_tag @award_institution.logo.url
%p
  %b Logo content:
  = image_tag @award_institution.logo.url(:medium)
%p
  %b Logo thumb:
  = image_tag @award_institution.logo.url(:thumb)
= link_to 'Edit', edit_award_institution_path(@award_institution)
|
\#{link_to 'Back', award_institutions_path}
