%h1 Editing blog_image
- form_for(@blog_image) do |f|
  = f.error_messages
  %p
    = f.label :blog_id
    %br/
    = f.text_field :blog_id
  %p
    = f.label :image_file_name
    %br/
    = f.text_field :image_file_name
  %p
    = f.label :image_content_type
    %br/
    = f.text_field :image_content_type
  %p
    = f.label :image_file_size
    %br/
    = f.text_field :image_file_size
  %p
    = f.label :image_updated_at
    %br/
    = f.datetime_select :image_updated_at
  %p
    = f.label :image_url
    %br/
    = f.text_field :image_url
  %p
    = f.submit 'Update'
= link_to 'Show', @blog_image
|
\#{link_to 'Back', blog_images_path}
