%h1 Listing blog_images
%table
  %tr
    %th Blog
    %th Image file name
    %th Image content type
    %th Image file size
    %th Image updated at
    %th Image url
  - @blog_images.each do |blog_image|
    %tr
      %td= h blog_image.blog_id
      %td= h blog_image.image_file_name
      %td= h blog_image.image_content_type
      %td= h blog_image.image_file_size
      %td= h blog_image.image_updated_at
      %td= h blog_image.image_url
      %td= link_to 'Show', blog_image
      %td= link_to 'Edit', edit_blog_image_path(blog_image)
      %td= link_to 'Destroy', blog_image, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New blog_image', new_blog_image_path
