
%h1 Listando blogs
%table
  %tr
    %th Nombre
    %th Permalink
    %th Banner
    %th Categoría
    %th Activo
    %th Número de opiniones
    %th Número de visitas
  - @blogs.each do |blog|
    %tr
      %td= h blog.name
      %td= h blog.permalink
      %td= image_tag blog.banner.url(:thumb)
      %td= h blog.category_name
      %td= h blog.active
      %td= h blog.friendly_posts_count
      %td= h blog.friendly_visits_count
      %td= link_to 'Ver', [:admin, blog]
      %td= link_to 'Editar', edit_admin_blog_path(blog)
      %td= link_to 'Eliminar', [:admin, blog], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'Nuevo blog', new_admin_blog_path

