%p
  %b Nombre:
  = h @blog.name
%p
  %b Permalink:
  = h @blog.permalink
%p
  = image_tag @blog.banner.url(:large)
%p
  %b Categoría:
  = h @blog.category_name
%p
  %b Activo:
  = h @blog.active
%p
  %b Número de opiniones:
  = h @blog.friendly_posts_count
%p
  %b Número de visitas:
  = h @blog.friendly_visits_count
= link_to 'Editar', edit_admin_blog_path(@blog)
|
\#{link_to 'Regresar', admin_blogs_path}

