%h1 Listing scores
%table
  %tr
    %th Movie
    %th User
    %th Scored at
    %th Source
    %th Value
  - @scores.each do |score|
    %tr
      %td= h score.movie_id
      %td= h score.user_id
      %td= h score.scored_at
      %td= h score.source
      %td= h score.value
      %td= link_to 'Show', score
      %td= link_to 'Edit', edit_score_path(score)
      %td= link_to 'Destroy', score, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New score', new_score_path
