
%h1 New score
- semantic_form_for(@score) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :movie
    = f.input :user
    = f.input :scored_at, :as => :date
    = f.input :source, :as => :select, :collection => Score::SOURCES.values
    = f.input :value, :as => :numeric
  - f.buttons do
    = f.commit_button 'Create'
= link_to 'Back', scores_path

