!!!
%html{:lang => "es", "xml:lang" => "es", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Movies: #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
  %body
    %h1= link_to 'RotenCamotes', root_path, :title => 'RotenCamotes', :class => 'Logo'
    %p{:style => "color: green"}= notice
    = display_app_models_links
    = yield

