
%h1 Listando premios
%table
  %tr
    %th Institución
    %th Categoría
    %th Año recibido
    %th Estado
    %th Persona
    %th Película
  - @awards.each do |award|
    %tr
      %td= h award.institution_id
      %td= h award.category_id
      %td= h award.year_received
      %td= h award.status
      %td= h award.person_id
      %td= h award.movie_id
      %td= link_to 'Ver', [:admin, award]
      %td= link_to 'Editar', edit_admin_award_path(award)
      %td= link_to 'Eliminar', [:admin, award], :confirm => '¿Estás seguro?', :method => :delete
%br/
= link_to 'Nuevo premio', new_admin_award_path

